html, body{
    background-color: rgb(247, 171, 101);
}
.nav-tabs{
    background-color: rgb(175, 201, 31);
}
.enca{
    background-color: rgb(62, 209, 202);
}
.container .row>div{
    background-color: whitesmoke;
    border: solid transparent;
    padding: 1%;
}
#log{
    width: 130px; 
    height: 120px;
    float: left;
}
h5,p{
    color: black;
    font-size: 25px;
}
p{
    font-size: 14px;
  }