h3{
    padding-left: 340px;
}
#nombre, #movil, #email, #direccion{
    width: 300px;
}
#contenedor{
    width: 900px;
    margin: auto;
    padding-top: auto;
    background-color: floralwhite;
    padding-left: 10;
    font-family: calibri;
}
span{
    width: 160px;
    display: block;
    float: left;
    padding-left: 30px;
}
.nom{
    background-color: darkgray;
    width: 100px;
}
.titu{
    width: 100px;
    background-color: rgb(233, 165, 64);
}
.titudire{
    width: 280px;
    background-color: rgb(233, 165, 64);
}
li{
    list-style: none;
    margin-top: 1px;
}
ul{
    margin: 0px;
    padding-left: 0px;
}
.tituemail{
    width: 280px;
    background-color: rgb(233, 165, 64);
}
.nomemail{
    background-color: darkgray;
    width: 280px;
}
.nomdire{
    background-color: darkgray;
    width: 280px;
}
#aviso{
    background-color: floralwhite;
    width: 500px;
    text-align: right;
    font-family: Verdana, Tahoma;
}
.entrada{
    animation-duration: 13s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes slidein {
    from{
        margin-left: 25%;
        width: 100%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}