
#iniciosesion{
    background-color: transparent;
}
fieldset div{
    background-color: rgb(31, 19, 5);
}
button{
    background-color: rgb(120, 193, 241);
}
input{
    background-color:rgb(253, 250, 251)
}
fieldset input{
vertical-align: middle;
}
.fbg p{
    background-color: transparent;
}
header p{
    color: black;
}